.button {
  background-color: hsl(200, 100%, 60%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
}

.student {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
}